
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a routerLink="admin" routerLinkActive="active" class="btn btn-dark">Admin</a>
      </li>
      <li class="nav-item">
        <a routerLink="user" routerLinkActive="active" class="btn btn-dark">User</a>
      </li>
      <li class="nav-item">
        <a routerLink="login" routerLinkActive="active" class="btn btn-dark">log in</a>
      </li>
      <li class="nav-item">
        <a routerLink="home2" routerLinkActive="active" hidden="true" class="btn btn-dark">log out</a>
      </li>
    </ul>
  </div>
  
</nav>
<router-outlet></router-outlet>