<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form [formGroup]="productForm">
                <div class="card">
                    <div class="card-header">
                        Product Form
                    </div>
                    <div class="card-body" style="margin-top: 20px;">
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-3">
                                ชื่อหนังสือ:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                  <input type="text" class="form-control" formControlName='name'>
                                  <div *ngIf="validateName.invalid && (validateName.dirty || validateName.touched)" class="alert-danger">
                                    <div *ngIf="validateName.errors?.required">
                                      ใส่ชื่อหนังสือ
                                    </div>

                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-3">
                                หมวดหมู่:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <select class="form-control" formControlName="tag">
                                      <option value=""></option>
                                      <option *ngFor="let item of productType" [value]="item">{{item}}</option>
                                    </select>
                                  </div>
                                  <div *ngIf="validateTag.invalid && (validateTag.dirty || validateTag.touched)" class="alert-danger">
                                    <div *ngIf="validateTag.errors?.required">
                                      เลือกหมวดหมู่
                                    </div>

                                  </div>
                            </div>
                        </div>
                        
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-3">
                                จำนวนหนังสือ:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                  <input type="number" class="form-control" formControlName='quantity'>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-3">
                                ราคา:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                  <input type="number" class="form-control" formControlName='price'>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-3">
                                ภาพหน้าปก:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                  <input type="file" class="form-control-file" formControlName='file' (change)="onChangeImg($event)">
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-9">
                                <img *ngIf="previewLoaded" class="img-thumbnail" [src]="this.productForm.value.img" style="height:150px;">
                            </div>
                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" (click)="addProduct()">Add</button>&nbsp;
                                <button type="reset" class="btn btn-danger" (click)="resetForm()">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>