<div class="container-fluid" style="margin-top:30px">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
        </div>
        <div class="table-responsive-md">  
        <p class="text-right">
            <b> ที่อยู่ </b> 
            <input type="text"  name="search" class="form-control" style="width: 300px" [formControl]="addr">
        </p>
        </div>
        <button type="button" class="btn btn-primary" (click)="confirm()" required>สั่งซื้อตะกร้าสินค้า</button>
      </div>
    </div>
</div>