<div class="col" >
                                
    <input type="number" class="form-control" style="width: 250px;margin-bottom: 10px;" [(ngModel)]="newQ" min="0">
</div>
<div class="col" >
    <a class="btn btn-primary" role="button" style="width: 250px;"  (click)="updatePlusStock()">
        <i>
            บวก
        </i>
    </a>
</div>
<div class="col" style="margin-top: 10px;" >
    <a class="btn btn-warning" role="button" style="width: 250px;"  (click)="updateMinusStock()">
        <i>
            ลบ
        </i>
    </a>
</div>